---
version: '3.4'

x-base: &base
  image: pr8kerl/gobuilder:1.12
  volumes:
    - "$HOME/.kube:/root/.kube"
    - "~/.aws:/root/.aws"
    - ./mod:/go/pkg/mod
    - .:/go/src/github.com/pr8kerl/kubectl-ssm-secret
  working_dir: /go/src/github.com/pr8kerl/kubectl-ssm-secret
  environment:
    - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-ap-southeast-2}
    - AWS_PROFILE=${AWS_PROFILE:-default}
    - GO111MODULE=on
    - CGO_ENABLED=0
    - GOOS=${GOOS:-linux}
    - GOARCH=amd64
    - GITHUB_TOKEN
    - TRAVIS_TAG

services:

  sh:
    <<: *base
    entrypoint: bash 

  make:
    <<: *base
    entrypoint: make 
